.reset-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-inline: var(--spacing-lg);
	padding-block: var(--spacing-sm);
	border-radius: var(--border-radius-md);
	background-color: var(--color-dark);
	color: var(--color-primary);
	line-height: var(--line-height);

	&:hover {
		background-color: var(--color-dark-hover);
	}

	&:active {
		background-color: var(--color-dark-active);
	}

	&__void {
		height: calc(var(--spacing-sm) * 2 + var(--line-height)); // prevent game field moving
	}
}
