#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-md)
}

.padding--width {
	padding-inline: var(--padding-width);
}

.flex {
	display: flex;
}

.flex--column {
	display: flex;
	flex-direction: column;
}

.margin-left--auto {
	margin-left: auto;
}
